{% extends 'server/master.html' %}

{% block page_content %}
<h1 class="page__title">
    О проекте
</h1>
{# <h2>{{ user }}</h2> #}
<div class="branding">
    <img src="" alt="" class="branding__background">
    <span class="branding__snippet">
        {{ about_text }}
    </span>
</div>
{% endblock %}
