{% extends 'server/master.html' %}

{% block page_content %}

<h1 class="page__title">
    Контакты
</h1>
<form action="contacts.html" method="POST">
    <fieldset>
        <legend>Напишите нам</legend>
        <input name="name" type="text" placeholder="Введите ваше имя">
        <br>
        <input name="email" type="email" placeholder="Введите ваш электронный адрес">
        <br>
        <input type="text" placeholder="Тема сообщения">
        <br>Суть вашего письма:<br>
        <textarea maxlength="200" name="textareaContent"></textarea>
        <br>
        <input type="submit">
    </fieldset>
</form>
    <h3>Адрес</h3>
    <p>
        <strong>Телефон:</strong> +7(987) 654-32-10<br>
        <strong>Адрес:</strong>г. Москва, Дмитровское ш., д.29.стр.1<br>
        <strong>Email:</strong>products@gmail.com 
    </p>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2b54a7f60045309127d95560dfc26f2eb8d42e3ab20e62c2fb6b01f3de746737&amp;width=100%25&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>
<ul class="contacts-list">
    {% for item in contacts %}
    <li>
        <span>
            {{ item }}
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
