<form action="" method="POST">
    {% csrf_token %}

    {% for err in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        <span class="">{err}</span>
    </div>
    {% endfor %}

    {% for field in form %}
    <div class="field-group">
        <label for="{{ field.name }}">{{ field.label }}</label>
        {{ field }}

        {% for err in field.errors %}
        <small class="field__error">{{ err }}</small>
        {% endfor %}
    </div>
    {% endfor %}
    <input type="submit">
</form>
