{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        {% block page_title %}
        {% endblock %}
    </title>

    {% block page_static %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'server/css/master.css' %}" />
</head>

<body>
    <div class="page">
        <header class="page__header">
            <nav class="page__navigation">
                <ul class="navigation-list">
                    <li class="navigation-list__item">
                        <span class="navigation-list__item-text">
                            Главная
                        </span>
                        <a href="{% url 'main:main' %}" class="navigation-list__item-link">
                        </a>
                    </li>
                    <li class="navigation-list__item">
                        <span class="navigation-list__item-text">
                            Витрина
                        </span>
                        <a href="{% url 'products:list' %}" class="navigation-list__item-link">
                         </a>
                     </li>
                     <li class="navigation-list__item">
                         <span class="navigation-list__item-text">
                             О проекте
                         </span>

                        <a href="{% url 'main:about' %}" class="navigation-list__item-link">
                         </a>
                     </li>
                     <li class="navigation-list__item">
                         <span class="navigation-list__item-text">
                             Контакты
                         </span>

                        <a href="{% url 'main:contacts' %}" class="navigation-list__item-link">
                         </a>
                     </li>
                 </ul>
            </nav>
        </header>
        <div class="page__content">
            <ul class="categories"></ul>

            {% block page_content %}
            {% endblock %}

        </div>
        <footer class="page__footer">
            <span class="page__copyright">
                © GeekBrains
            </span>
        </footer>
    </div>
    {% block page_js %}
    {% endblock %}
    <script src="{% static 'server/js/categories.js' %}"></script>
    <script>
        const categories = document.querySelector('.categories');
        
        const categoriesUrl = '{% url "rest_categories:list" %}'

        const renderCategoryList = () => {
            
            fetch(categoriesUrl)
                .then(response => response.json())
                .then(
                    data => (
                        data.results.reduce(
                            (val, itm, idx) => val += renderCategory(itm)
                        )
                    )
                )
                .then(
                    renderString => {
                        categories.innerHTML = renderString
                    }
                )
        }

        document.addEventListener("DOMContentLoaded", renderCategoryList);
    </script>

</body>
</html>