<ul class="pagination">
        {% if page.has_previous %}
        <li class="pagination__link_prev">
            <a href="?page={{ page.previous_page_number }}">
                Назад
            </a>
        </li>
        {% endif %}
        {% for num in page_range %}
        <li class="pagination__link">
            <a href="?page={{ num }}">
                    {{ num }}
            </a>
        </li>
        {% endfor %}
        {% if page.has_next %}
        <li class="pagination__link_next">
            <a href="?page={{ page.next_page_number }}">
                Далее
            </a>
        </li>
        {% endif %}
    </ul>