{% extends 'server/master.html' %}

{% load static %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/css/detail.css' %}">
{% endblock %}

{% block page_content %}
<div class="product">
    <h1 class="product__name">
        {{ inst.name|title }}
    </h1>
    <span class="product__description">
        {{ inst.description }}
    </span>
    {% if object.cost %}
    <span class="product__cost">
        {{ inst.cost }}
    </span>
    {% endif %}
</div>
{% endblock %}