{% extends 'server/master.html' %}

{% load static %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/css/list.css' %}">
{% endblock %}

{% block page_content %}
<div class="products">
    {% for object in object_list %}
    {% include 'server/product.html' with id=object.pk image=obect.image.url name=object.name description=object.description cost=object.cost %}
    {% endfor %}
</div>

{% include 'server/pagination.html' with page=page_obj page_range=page_obj.paginator.page_range  %}

{% if page_obj.has_next %}
<button class="show-more-button">Show more</button>
{% endif %}

{% endblock %}

{% block page_js %}
<script src="{%  static 'products/js/products.js' %}"></script>
<script>

    const products = document.querySelector('.products');
    const showMoreButton = document.querySelector('.show-more-button');
    
    let productsUrl = '{% url "rest_products:list" %}?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}'

    const showMore = () => {
        fetch(productsUrl)
            .then(response => response.json())
            .then(
                data => {
                    data.results.map(
                        itm => products.innerHTML += renderProduct(itm)
                    )
                    if (data.next_url) {
                        productsUrl = data.next_url
                    } else {
                        showMoreButton.classList.add('show-more-button')
                    }
                }
            )
    }

    showMoreButton.addEventListener('click', showMore);



</script>
{% endblock %}