{% extends 'server/master.html' %}

{% load static %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/css/detail.css' %}">
<link rel="stylesheet" href="{% static 'products/css/list.css' %}">
{% endblock %}

{% block page_content %}
<div class="product">
    <h1 class="product__name">
        {{ object.name|title }}
    </h1>
    <span class="product__description">
        {{ object.description }}
    </span>
</div>

<div class="products">
    {% for product in products %}
    {% include 'server/product.html' with id=product.pk image=product.image.url name=product.name description=product.description cost=product.cost %}
    {% endfor %}
</div>

{% include 'server/pagination.html' with page=products page_range=products.paginator.page_range  %}

{% endblock %}